<%- include("../layouts/users/header") %>




<div id="alertContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 5"></div>


    <div class="shop_sidebar_area">
      <!-- ##### Single Widget ##### -->
      <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Catagories</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">
          <ul>
            <li>
              <a href="/products-shop"> All Category</a>
            </li>
            <% for( let i = 0; i < category.length; i++ ) { %>

            <li>
              <a onclick="sortShop('<%= category[i]._id %>')" href="#"
                ><%= category[i].categoryName %></a
              >
            </li>

            <% } %>
          </ul>
        </div>
      </div>
     
       <!-- price sorting -->
    <div class="widget price mb-50">
      <!-- Widget Title -->
      <div>
       
        <label class="form-group form-group"> <b>Price Range: </b></label>
        <select id="priceRange" name="priceRange" class="form-control" onchange="navigateToSelectedOption()">
          <option disabled selected value="">Select Price Range</option>
          <option value="1000-2000" <%= selectedPriceRange === '1000-2000' ? 'selected' : '' %>>1000-2000</option>
          <option value="2000-5000" <%= selectedPriceRange === '2000-5000' ? 'selected' : '' %>>2000-5000</option>
          <option value="5000-10000" <%= selectedPriceRange === '5000-10000' ? 'selected' : '' %>>5000-10000</option>
          <option value="10000-20000" <%= selectedPriceRange === '10000-20000' ? 'selected' : '' %>>10000-20000</option>
        </select>

        <% if (selectedPriceRange) { %>
          <a class="text-danger text" href="/products-shop">
            Clear
          </a>
        <% } %>
      </div>
    </div>
    </div>

   



    <div class="amado_product_area section-padding-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div
              class="product-topbar d-xl-flex align-items-end justify-content-between"
            >
              <!-- Total Products -->
              <div class="total-products">
                <p>Showing 1-<%= Math.min(6, totalNumberOfProducts) %> of <%= totalNumberOfProducts %></p>

                <div class="view d-flex">
                  <a href="#"
                    ><i class="fa fa-th-large" aria-hidden="true"></i
                  ></a>
                  <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="row">
 

          <% for( let i = 0; i < products.length; i++ ) { %>

          <!-- Single Product Area -->
          <div class="col-12 col-sm-6 col-md-12 col-xl-6">
            <div class="single-product-wrapper">
              <!-- Product Image -->
              <div class="product-img">
                <img
                  src="/public/assets/uploads/<%= products[i].image[0].filename %>"
                  alt="<%= products[i].productName %>"
                />
                <!-- Hover Thumb -->
                <a
                  href="/products/product-details?id=<%= products[i]._id %>"
                  >
                  <img
                    class="hover-img"
                    src="/public/assets/uploads/<%= products[i].image[1].filename %>"
                    alt=""
                />
                  </a>
              </div>

              <!-- Product Description -->
              <div
                class="product-description d-flex align-items-center justify-content-between"
              >
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                  <div class="line"></div>
                  <% if (products[i].salePrice === products[i].regularPrice) { %>
                   
                    <p class="product-price">₹<%= products[i].salePrice.toLocaleString() %></p>
                    <% } else { %>
                      <p class="product-price"><span>₹<%= products[i].salePrice.toLocaleString() %></span>
                        <span class="oldPrice">₹<%= products[i].regularPrice.toLocaleString() %></span></p>
                  <% } %>
                  <a href="product-details.html">
                    <h6 ><%= products[i].productName %></h6>
                  </a>
                </div>
                <!-- Ratings & Cart -->
                <div class="ratings-cart text-right">
                  <div class="ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>

                  <div class="cart">
                    <% const productId = products[i]._id; %>
                    <% if (wishlist.some(item => item.product_id.equals(productId))) { %>
                      <!-- Product is in the wishlist -->
                      <a
                      id="wishlist-function-<%= productId %>"
                        onclick="removeFromWishlist('<%= productId %>')"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Remove from Wishlist"
                      >
                        <i id="wishlist-icon-<%= productId %>" class="fa-regular fa-heart" style="color: red; font-size: large;"></i>
                      </a>
                    <% } else { %>
                      <!-- Product is not in the wishlist -->
                      <a
                      id="wishlist-function-<%= productId %>"
                        onclick="addToWishlist('<%= productId %>')"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Add to Wishlist"
                      >
                        <i id="wishlist-icon-<%= productId %>" class="fa-regular fa-heart" style="color: #c4c4c4; font-size: large;"></i>
                      </a>
                    <% } %>
                  </div>
                  

                  <div class="cart">

                    <a
                    onclick="addToCart('<%= products[i]._id %>')"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="Add to Cart"
                      ><img src="/public/assets/img/core-img/cart.png" alt="" id="cart-icon-<%= products[i]._id %>"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% } %>
        </div>

        <div class="row">
          <div class="col-12">
            <!-- Pagination -->
            <nav aria-label="navigation">
              <ul class="pagination justify-content-end mt-50">
              </li>
              
              <% for( let i = 0; i < totalNumberOfPages; i++ ) { %>
                
                <li class="page-item <%= i == page ? 'active' : '' %>">
                  <a class="page-link" href="/products-shop?page=<%= i %>"><%= i+1 %></a>
                <% } %>


              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Main Content Wrapper End ##### -->

 

  <%- include("../layouts/users/footer") %>
