<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ABC - Furniture | Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->

    <link rel="icon" href="/public/assets/img/core-img/favicon.ico" />

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/user-main.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <!--===============================================================================================-->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--===============================================================================================-->

    <script
      src="https://kit.fontawesome.com/3bd203701d.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form
            action="/admin/users/post-edited-user?id=<%= user._id %>"
            method="post"
            class="login100-form validate-form p-l-55 p-r-55 p-t-178"
          >
            <span class="login100-form-title"> Sign In </span>

            <% if (typeof message !== "undefined" ) { %>
            <div id="message" class="text-center error m-b-16">
              <%= message %>
            </div>
            <% } %>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Please enter password"
            >
              <input
                type="name"
                class="form-control"
                placeholder="username"
                name="username"
                value="<%= user.username %>"
                required
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Please enter email"
            >
              <input
                type="email"
                class="form-control"
                placeholder="email"
                name="email"
                value="<%= user.email %>"
                required
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Please enter mobile"
            >
              <input
                type="number"
                class="form-control"
                name="mobile"
                placeholder="mobile number"
                value="<%= user.mobile %>"
                required
              />
              <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn m-b-16">
              <button class="login100-form-btn">Update User</button>
            </div>

            <div class="flex-col-c p-t-8 p-b-40">
              <a href="/admin#user-management" class="txt3">
                <i class="fa-solid fa-arrow-left"></i>back to dashboard
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/showPassword.js"></script>
  </body>
</html>
