<%- include("../layouts/admins/header") %>


<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/public/assets/img/core-img/logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside ">
            <li class="menu-item ">
                <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item " >
                <a class="menu-link" href="/admin/user-management"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/products/product-management"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products/products-orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item  ">
                <a class="menu-link" href="/admin/products/category-management"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item  ">
                <a class="menu-link" href="/admin/products/banner-management"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Banners</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a href="#" class="menu-link"><i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Offers</span>
                </a>
                <div class="submenu">
                    <a href="/admin/products/product-offers">Product offer</a>
                    <a href="/admin/products/category-offers">Category offer</a>
                </div>
            </li>
        
           
         
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Coupons</span> </a>
            </li>
           
        </ul>
        <hr>
        
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" href="#"><img src="/public/assets/imgs/theme/flag-us.png" alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/public/assets/imgs/people/avatar2.jpg" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
        <section class="content-main">
            <form action="/admin/products/post-edit-product?productId=<%= encodeURIComponent(product._id) %>" method="post" enctype="multipart/form-data"  onsubmit="return validateEditProducts()">
              
            <div class="row">
                <div class="col-12">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6> General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input name="productName" type="text" placeholder="Type here" class="form-control" id="product_title" value="<%= product.productName %>">
                                        <p class="text-danger" id="nameError"></p>

                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea name="description" placeholder="Type here" class="form-control" id="prod_description" rows="4" ><%= product.description %></textarea>
                                        <p class="text-danger" id="descError"></p>

                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6> Market Price</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in INR</label>
                                        <input name="marketPrice" type="text" placeholder="₹0.00" class="form-control" id="product_regPrice" value="<%= product.regularPrice %>">
                                        <p class="text-danger" id="regPriceError"></p>

                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="col-md-3">
                                    <h6> Sale Price</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in INR</label>
                                        <input name="salePrice" type="text" placeholder="₹0.00" class="form-control" id="product_salePrice" value="<%= product.salePrice %>" >
                                        <p class="text-danger" id="salePriceError"></p>

                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6> Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">

                                        <% for (let i = 0; i < category.length; i++) { %>
                                            <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                              <input class="form-check-input" name="myCategory" type="radio" value="<%= category[i]._id %>" <% if (product.category.toString() === category[i]._id.toString()) { %> checked='' <% } %>>
                                              <span class="form-check-label"><%= category[i].categoryName %></span>
                                            </label>
                                          <% } %>
                                          
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6> Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        
                                        <!-- Display existing images -->
                                        <div id="existingImagesContainer">
                                            <% for (let i = 0; i < product.image.length; i++) { %>
                                                <div data-filename="<%= product.image[i].filename %>" class="image-container">
                                                    <img src="/public/assets/uploads/<%= product.image[i].filename %>" alt="Existing Image" class="existing-image" style="max-width: 100px; max-height: 100px;">
                                                    <a  onclick="deleteSingleImage('<%= product._id %>','<%= product.image[i].filename %>')"><i class="fas fa-times delete-icon"></i></a>
                                                </div>
                                            <% } %>
                                        </div>
                                        
                            
                                        <!-- Input for adding or replacing images -->
                                        <input class="form-control" type="file" name="newImages" multiple>
                                        <p class="text-danger" id="brandError"></p>

                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                            <div class="row">
                                <div class="col-md-3">
                                    <h6> Quantity</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <input name="quantity" type="number" placeholder="0" class="form-control" id="prod_stock" value="<%= product.quantity %>">

                                        <p class="text-danger" id="sotckError"></p>

                                    </div>
                                </div> <!-- col.// -->
                                <br><br>
                                <div>
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Update product</button>
                                </div>
                            </div> <!-- row.// -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        </section> <!-- content-main end// -->
       
    <%- include("../layouts/admins/footer") %>
