<%- include("../layouts/admins/header") %>


    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/assets/img/core-img/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside ">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item " >
                    <a class="menu-link" href="/admin/user-management"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products/product-management"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/products/products-orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/products/category-management"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/products/banner-management"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a href="#" class="menu-link"><i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products/product-offers">Product offer</a>
                        <a href="/admin/products/category-offers">Category offer</a>
                    </div>
                </li>
                
               
             
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span> </a>
                </li>
               
            </ul>
            <hr>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%= orders._id %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= orders.date %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%= orders._id.toString().slice(-5) %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <form action="/admin/order-details/<%= orders._id %>" method="post">
                                <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="orderStatus">
                                    <% if (orders.status === 'Delivered') { %>
                                    <option value="Delivered" <% if (orders.status === 'Delivered') { %> selected <% } %>>Delivered</option>
                                     <% } else if(orders.status === 'Cancelled'){ %>
                                        <option value="Cancelled" <% if (orders.status === 'Cancelled') { %> selected <% } %>>Cancelled</option>
                                        <% } else { %>
                                        <option value="Pending" <% if (orders.status === 'Pending') { %> selected <% } %>>Pending</option>
                                        <option value="Dispatched" <% if (orders.status === 'Dispatched') { %> selected <% } %>>Dispatched</option>
                                        <option value="Cancelled" <% if (orders.status === 'Cancelled') { %> selected <% } %>>Cancelled</option>
                                        <option value="Delivered" <% if (orders.status === 'Delivered') { %> selected <% } %>>Delivered</option>
                                      
                                    <% } %>
                                </select>
                            <button class="btn btn-primary" type="submit">Save</button>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                            </form>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= orders.user.username %> <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> <%= orders.user.mobile %>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: ABC express <br> Pay method: <%= orders.payment %> <br> Status: <%= orders.status %>
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%= orders.address.city %> <br><%= orders.address.streetAddress %> <br> Po Box <%= orders.address.zipCode %>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Product</th>
                                            <th width="30%">Unit Price</th>
                                            <th width="30%">Quantity</th>
                                            <th width="50%">status</th>
                                            <th width="30%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <% let Subtotal = 0 %>

                                        <% for( let i = 0; i < orders.products.length; i++ ) { %>

                                            <% let product = orders.products[i]; %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/public/assets/uploads/<%= product.productId.image[0].filename %>" width="40" height="40" class="img-xs" alt="Item">
                                                        </div>
                                                        <div class="info"> <%= product.productId.productName %> </div>
                                                    </a>
                                                </td>
                                                <td> ₹<%= product.totalPrice / product.quantity %> </td>
                                                <td> <%= product.quantity %> </td>
                                                <td>
                                                    <form action="/admin/order-cancel/<%= orders._id %>/<%= product._id %>" method="post">
                                                        <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="productStatus">
                                                            <% for( let i = 0; i < orders.products.length; i++ ) { %>
                                                            
                                                            <% } %>
                                                            <% if (orders.products[i].productStatus === 'Delivered') { %>
                                                            <option value="Delivered" <% if (orders.status === 'Delivered') { %> selected <% } %>>Delivered</option>
                                                             <% } else if(orders.products[i].productStatus === 'Cancelled') { %>
                                                                <option value="Cancelled" <% if (orders.products[i].productStatus === 'Cancelled') { %> selected <% } %>>Cancelled</option>
                                                                <% } else { %>
                                                                 
                                                                <option value="Pending" <% if (orders.products[i].productStatus === 'Pending') { %> selected <% } %>>Pending</option>
                                                                <option value="Dispatched" <% if (orders.products[i].productStatus === 'Dispatched') { %> selected <% } %>>Dispatched</option>
                                                                <option value="Cancelled" <% if (orders.products[i].productStatus === 'Cancelled') { %> selected <% } %>>Cancelled</option>
                                                                <option value="Delivered" <% if (orders.products[i].productStatus === 'Delivered') { %> selected <% } %>>Completed</option>
                                                              
                                                            <% } %>
                                                        </select>
                                                        <button class="btn btn-primary" type="submit">Save</button>
                                                    </form>
                                                    
                                                </td>
                                                <td class="text-end"> ₹<%= product.totalPrice  %> </td>
                                            </tr>

                                            <% Subtotal =  product.totalPrice  %>  

                                        
                                        <% } %>


                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹<%= Subtotal %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>Free</dd>
                                                    </dl>
                                                    <% if (orders.couponDiscound) { %>
                                                        <dl class="dlist">
                                                            <dt>Discount:</dt>
                                                            <dd><%= orders.couponDiscound %></dd>
                                                        </dl>
                                                    <% } %>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹<%= Subtotal - orders.couponDiscound %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge badge-pill 
                                                            <% if (orders.status === 'Cancelled') { %>
                                                                badge-soft-danger
                                                            <% } else if (orders.status === 'Pending') { %>
                                                                badge-soft-warning
                                                            <% } else { %>
                                                                badge-soft-success
                                                            <% } %>
                                                            "><%= orders.status %>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                               
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
   

    <%- include("../layouts/admins/footer") %>
